<%# show details and review for one restaurant %>
<h1>show me da <%= @restaurant.name %></h1>

<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<%= @restaurant.category %>
<%= @restaurant.phone_number %>

<%= link_to "back to restaurants", restaurants_path %>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
